@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

ol, ul, li, a {
  text-decoration: none;
}

input {
  color: #ffffff;
}

.section-nav a {
	display: inline-block;
  line-height: 0.5rem;
}

div > .MuiPaper-root {
  max-width: 70%;
}

@media (max-width: 400px) {
  div > .MuiPaper-root {
    min-width: 50%;
  }
}

@media (min-width: 400px) and (max-width: 640px) {
  div > .MuiPaper-root {
    min-width: 40%;
  }
}