@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #303446;
  color: white;
  font-family: monospace;
}

body {
  padding: 30px;
}